# see https://doc.nette.org/en/configuring

parameters:


application:
	errorPresenter:
		4xx: Error:Error4xx
		5xx: Error:Error5xx
	mapping: App\Presentation\*\**Presenter


database:
	dsn: 'mysql:host=db;dbname=nette_db'
	user: root
	password: root


latte:
	strictParsing: yes
	extensions:
		- App\Presentation\Accessory\LatteExtension


assets:
	mapping:
		default:
			path: assets
			# type: vite  # Uncomment to activate Vite for asset building


di:
	export:
		parameters: no
		tags: no

nextras.dbal:
    driver: mysqli
    host: db
    port: 3306
    database: nette_db
    username: root
    password: root