services:
	- App\Core\RouterFactory::createRouter
	- App\Model\Security\Auth\Authenticator
	- App\Model\Security\Auth\Authorizator::create


search:
	-	in: %appDir%
		classes:
			- *Facade
			- *Factory
			- *Repository
			- *Service
