services:
	- App\Core\RouterFactory::createRouter
	- App\Model\Security\Auth\Authenticator
	- App\Model\Security\Auth\Authorizator::create
	security.user: App\Model\Security\Auth\User


search:
	-	in: %appDir%
		classes:
			- *Facade
			- *Factory
			- *Repository
			- *Service
