<div class="travel-auth-container">
    <div class="sign-form-card">
        <h2 class="form-title">Login</h2>

        {form destinationLogForm, class: 'travel-form'}
            {label country /}
            {input country}


        {/form}
    </div>
</div>